.about-mainscreen {
  position: relative;
  @include adaptiveValue("padding-top", 37, 48);

  &:first-child {
    &::before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 420px); 
      background-color: $darkColor;
      
      @media (min-width:$mobile){
        height: calc(100% - 80px); 
      }
    }

    .about-mainscreen__text {
      p {
        @media (min-width:$mobile){
          background-color: $darkColor;
          margin-left: rem(-20);
          padding-left: rem(20);   
        }

        &:not(:last-child) {
          margin-bottom: rem(16);
        }
  
        &:not(:first-child) {
          @media (min-width:$tablet){
            display: none; 
          }
        }
      }
    }
  }

  &:not(:first-child) {
    margin-top: rem(-2);

    .about-mainscreen__container {
      @media (min-width:$mobile){
        align-items: center; 
      }
    }

    .about-mainscreen__text {
      p {
        &:not(:last-child) {
          @include adaptiveValue("margin-bottom", 32, 16, 0, 1100, 767);
        }
  
        @media (max-width:$tablet){
          &:first-child {
            display: none;
          }
        }
      }
    }

    .about-mainscreen__content {
      @media (max-width:$mobile){
        align-self: flex-end; 
      }
    }
  }

  // .about-mainscreen__container

  &__container {
    position: relative;
    z-index: 2;
    @include adaptiveValue("column-gap", 70, 20, 0, 1100, 992);
    row-gap: rem(73);

    @media (max-width:$mobile){
      flex-direction: column; 
    }
  }

  // .about-mainscreen__content

  &__content {
    @include adaptiveValue("padding-top", 27, 0, 0, 1100, 992);

    @media (min-width:$tablet){
      flex: 0 1 rem(570); 
    }
  }

  // .about-mainscreen__title

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 40, 0, 1100, 992);
    
      @media (max-width:$tablet){
        margin-bottom: rem(65); 
      }
    } 
  }

  // .about-mainscreen__text

  &__text {
    gap: rem(48);

    &:not(:last-child) {
      margin-bottom: rem(8);
    }

    @media (max-width:$mobile){
      flex-direction: column-reverse; 
      align-items: flex-end;
      color: $mainColor;
    }

    p {

      @media (max-width:$mobile){
        @include adaptiveValue("max-width", 564, 364, 0, 767, 480);
      }

      @media (max-width:$tablet) and (min-width:$mobile){
        flex: 1 1 auto;
      }
    }
  }

  // .about-mainscreen__img

  &__img {
    @media (min-width:$mobile){
      flex: 0 0 rem(328); 
    }
    @media (min-width:$tablet){
      flex: 0 0 rem(480); 
    }

    @media (max-width:$mobile){
      @include adaptiveValue("width", 500, 300, 0, 767, 300);
    }
  }
}

//========================================================================================================================================================

.about-reviews {

  // .about-reviews__container

  &__container {
  }

  // .about-reviews__title

  &__title {
    max-width: rem(600);
  }
}

.about-reviews-slider {
  overflow: hidden;

  // .about-reviews-slider__wrapper

  &__wrapper {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 24);
    }
  }

  // .about-reviews-slider__slide

  &__slide {
  }

  // .about-reviews-slider__name

  &__name {
    gap: rem(16);
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  // .about-reviews-slider__img

  &__img {
    @include adaptiveValue("height", 332, 216, 0, 767, 300);
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  // .about-reviews-slider__icon

  &__icon {
    border-radius: 50%;
    flex: 0 0 rem(40);
  }

  // .about-reviews-slider__text

  &__text {
  }

  // .about-reviews-slider__pagination

  &__pagination {
  }
}

//========================================================================================================================================================

.about-certificates {
  @include adaptiveValue("padding-top", 120, 60);
  // .about-certificates__container

  &__container {
  }

  // .about-certificates__title

  &__title {
  }

  // .about-certificates__content

  &__content {
    display: grid;
    grid-template-columns: repeat(3, calc(33.333% - rem(16)));
    justify-content: space-between;

    @include adaptiveValue("gap", 32, 16, 0, 767, 480);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 50, 0, 1100, 767);
    }
  }

  // .about-certificates__img

  &__img {
  }

  // .about-certificates__btn

  &__btn {
  }
}

//========================================================================================================================================================

.find-out {
  @include adaptiveValue("padding-bottom", 190, 95);
  @include adaptiveValue("padding-top", 120, 60);
  // .find-out__container

  &__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptiveValue("row-gap", 50, 40, 0, 767, 480);
    column-gap: rem(32);
    align-items: center;

    @media (max-width:$tablet){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(650)){
      grid-template-columns: 100%;    
    }
  }

  // .find-out__elipse

  &__elipse {
    top: rem(-30);
    left: rem(-30);
    @media (min-width:$tablet){
      display: none; 
    }
    @media (max-width: em(650)){
      top: 0;
      left: -75%;
    }
  }

  // .find-out__top

  &__top {
    @include adaptiveValue("max-width", 365, 265);
    @media (min-width:$tablet){
      grid-column-start: 1; 
      grid-column-end: 4; 
    }
  }

  // .find-out__title

  &__title {
  }

  // .find-out__text

  &__text {
  }

  // .find-out__item

  &__item {

    @media (max-width: em(650)){
      &:nth-child(odd) {
        justify-self: end;
      }
    }

    // .find-out__item_1

    &_1 {
      @media (max-width:$tablet) and (min-width:em(650)){
        transform: translateY(rem(-110));
      }

      .find-out__img {
        &::before{
          bottom: rem(-15);
          left: rem(-15);
        }
      }
    }

    // .find-out__item_2

    &_2 {
      @media (min-width:$tablet){
        transform: translateY(rem(70));
      }
      @media (max-width:$tablet) and (min-width:em(650)){
        grid-row-start: 1;
        grid-column-start: 2;
      }
    }

    // .find-out__item_3

    &_3 {
      .find-out__img {
        &::before{
          top: rem(-15);
          left: rem(-15);
        }
      }

      @media (min-width:$tablet){
        transform: translateY(rem(-50));
      }
    }
  }

  // .find-out__img

  &__img {
    position: relative;
    &:not(:last-child) {
      margin-bottom: rem(24);
    }

    img {
      position: relative;
      z-index: 2;
    }

    &::before{
      content:'';
      position: absolute;
      width: rem(176);
      height: rem(231);
      background-color: $darkPinkColor;
    }
  }

  // .find-out__btn

  &__btn {
  }
}