.coursers-page {
  @include adaptiveValue("padding-top", 64, 54);
  @include adaptiveValue("padding-bottom", 156, 108);

  // .coursers-page__title

  &__title {
    max-width: rem(400);
    @include adaptiveValue("margin-left", 135, 0, 0, 1100, 992);
  }

  // .coursers-page__content

  &__content {
    @include adaptiveValue("row-gap", 80, 32, 0, 1100, 767);
    @media (max-width:$tablet){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:em(650)){
      grid-template-columns: 1fr;
    }
  }
}

.item-coursers-page {

  // .item-coursers-page_transtorm

  &_transtorm {
    @media (min-width:$mobile){
      transform: translateY(rem(45));
    }
    @media (min-width:$tablet){
      transform: translateY(rem(60)); 
    }
  }

  // .item-coursers-page__label

  &__label {
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
    @media (max-width:$mobile){
      display: none; 
    }
  }
}

//========================================================================================================================================================

.coursers-form {
  @include adaptiveValue("margin-bottom", 120, 60);
}

//========================================================================================================================================================

.other-formats {
  @include adaptiveValue("padding-top", 120, 95);
  @include adaptiveValue("padding-bottom", 145, 110);

  // .other-formats__container

  &__container {
  }

  // .other-formats__title

  &__title {
    max-width: rem(525);
  }

  // .other-formats__content

  &__content {
    @include adaptiveValue("gap", 32, 20, 0, 1100, 767);

    @media (max-width:$tablet){
      flex-direction: column;
    }
  }

  // .other-formats__item

  &__item {
  }

  // .other-formats__oval-line

  &__oval-line {
    left: auto;
    right: rem(-15);
    top: rem(5);

    .coursers-oval__img {
      top: rem(-10);
    }
  }
}


.item-formats {
  position: relative;
  background-color: $darkColor;

  // .item-formats_big

  &_big {

    .item-formats__content {
      background-color: $darkColor;
      position: relative;
      z-index: 2;
    }

    &::after{
      content:'';
      position: absolute;
      @include adaptiveValue("bottom", -25, -15, 0, 767, 480);
      @include adaptiveValue("right", -25, -15, 0, 767, 480);
      background-color: $darkPinkColor;
      width: rem(370);
      height: rem(251);
    }

    @media (min-width:$tablet){
      flex: 1 1 auto;   
    }
  }

  // .item-formats_sm

  &_sm {
    @media (min-width:$tablet){
      flex: 0 0 rem(424); 
    }
  
    .item-formats__title {
      max-width: rem(220);
    }

    .item-formats__text {
      max-width: rem(240);
    }
  }

  // .item-formats__content

  &__content {
    padding: rem(40) rem(20);
    position: relative;
    z-index: 2;
    min-width: 100%;

    @media (min-width:$mobileSmall){
      padding: rem(48) rem(60);
    }
  }

  // .item-formats__image-ibg

  &__image-ibg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  // .item-formats__icon

  &__icon {
    width: rem(63);
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }

  // .item-formats__title

  &__title {
    font-family: 'Alice';
    font-size: rem(30);
    color: $whiteColor;
    max-width: rem(120);
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  // .item-formats__text

  &__text {
    max-width: rem(360);
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  // .item-formats__btn

  &__btn {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
}



//========================================================================================================================================================

.coursers-find-out {
  @include adaptiveValue("padding-top", 120, 60);
}