.course-mainscreen {
  position: relative;
  @include adaptiveValue("padding-top", 85, 66);
  @include adaptiveValue("margin-bottom", 120, 95);

  @media (max-width:$tablet){
    padding-bottom: rem(60);
  }

  &::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $darkColor;
  
    @media (min-width:$tablet){
      height: calc(100% - 50px); 
    }
  }

  // .course-mainscreen__container

  &__container {
    position: relative;
    z-index: 2;
    gap: rem(24);

    @media (max-width:$mobile){
      flex-direction: column; 
    }
  }

  // .course-mainscreen__elipse

  &__elipse {
    transform: rotate(-10deg) scaleY(-1);
    top: rem(20);
  }

  // .course-mainscreen__img

  &__img {
    margin-left: rem(15);
    @media (min-width:$mobile){
      flex: 0 0;
      @include adaptiveValue("flex-basis", 515, 328, 0, 1100, 767);   
    }
    @media (max-width:$mobile){
      align-self: center;
      width: 75%; 
    }
    @media (max-width:$mobileSmall){
      width: 100%; 
    }
  }

  // .course-mainscreen__content

  &__content {
    @media (min-width:$mobile){
      flex: 0 1 rem(425);   
    }
  }

  // .course-mainscreen__title

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  // .course-mainscreen__text

  &__text {
    &:not(:last-child) {
      margin-bottom: rem(32);
    }
  }

  // .course-mainscreen__btn

  &__btn {
    &:not(:last-child) {
      margin-bottom: rem(10); 
    }
  }
}

//========================================================================================================================================================

.on-course {

  // .on-course__container

  &__container {
  }

  // .on-course__title

  &__title {
  }

  // .on-course__content

  &__content {
    @include adaptiveValue("row-gap", 40, 30, 0, 767, 480);
    @include adaptiveValue("column-gap", 37, 20, 0, 1100, 767);
  }

  // .on-course__item

  &__item {
  }
}

.item-on-course {
  @include adaptiveValue("gap", 63, 32, 0, 767, 480);

  @media (max-width:$mobileSmall){
    flex-direction: column; 
  }

  // .item-on-course__img-wrap

  &__img-wrap {
    width: rem(120);
    flex: 0 0 rem(120);
    height: rem(120);
    &::before{
      bottom: rem(-15);
      right: rem(-15);
    }
  }

  // .item-on-course__img

  &__img {    
    height: 100%;
    background-color: $darkColor;
    position: relative;
    z-index: 2;
  }

  // .item-on-course__content

  &__content {
  }

  // .item-on-course__title

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  // .item-on-course__text

  &__text {
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }
}

//========================================================================================================================================================

.course-you-get {
  @include adaptiveValue("padding-bottom", 145, 95);

  // .course-you-get__container

  &__container {
    position: relative;
  }

  // .course-you-get__elipse

  &__elipse {
    transform: rotate(175deg) scaleY(-1);
    left: auto;
    top: auto;
    right: rem(-450);
    bottom: rem(-50);
  }

  // .course-you-get__title

  &__title {
    max-width: rem(390);
    @include adaptiveValue("margin-left", 120, 0, 0, 1100, 992);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 47, 40);
    }
  }

  // .course-you-get__content

  &__content {
    row-gap: rem(50);
    column-gap: rem(35);

    @media (max-width:$mobile){
      flex-direction: column; 
    }
  }

  // .course-you-get__item

  &__item {
  }
}

.item-course-get {
  max-width: rem(568);
  @media (min-width:$mobile){
    flex: 0 1 rem(456); 
  }
  // .item-course-get_bg

  &_bg {
    @media (min-width:$mobile){
      flex: 0 1 rem(424); 
    }
    @media (max-width:$mobile) and (min-width:$mobileSmall){
      @include adaptiveValue("margin-left", 40, 20, 0, 767, 480); 
    }

    .item-course-get__content {
      background-color: $darkColor;
      position: relative;
      z-index: 2;
      padding: rem(48) rem(30);
      @media (min-width:$mobileSmall){
        padding: rem(48) rem(65);   
      }
    }
  }

  // .item-course-get_no-bg

  &_no-bg {
    @include adaptiveValue("margin-right", 83, 0, 0, 1100, 992);

    @media (max-width:$mobile){
      align-self: flex-end;   
    }
  }

  // .item-course-get__oval-line

  &__oval-line {
    left: auto;
    right: 0;

    span {
      max-width: rem(92);
    }

    .coursers-oval__img {
      left: rem(-75);
    }
  }

  // .item-course-get__content

  &__content {
  }

  // .item-course-get__icon

  &__icon {
    width: rem(63);
    &:not(:last-child) {
      margin-bottom: rem(26);
    }
  }

  // .item-course-get__list

  &__list {
  }

  // .item-course-get__text

  &__text {
    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 32, 16); 
      }
    }
  }
}

//========================================================================================================================================================

.programm-course {
  @include adaptiveValue("padding-top", 120, 60);
  @include adaptiveValue("padding-bottom", 100, 60);

  // .programm-course__container

  &__container {
  }

  // .programm-course__title

  &__title {
    max-width: rem(330);
  }
}

.programm-course-spollers {

  // .programm-course-spollers__spoller

  &__spoller {
    border-top: 2px solid rgba(242, 242, 242, 0.2);
    padding: rem(40) 0;
  }

  // .// .programm-course-spollers__btn 

  &__btn {
    gap: rem(20);

    &::before{
      color: #8C8C8C;
      font-size: rem(24);
      transition: all 0.6s ease 0s;
    }
  
    &._spoller-active {
      &::before{
        transform: rotate(-180deg);
      }
    }
  }

  // .programm-course-spollers__title

  &__title {
    color: $whiteColor;
    @include adaptiveValue("font-size", 30, 16, 0, 1100, 767);

    @media (max-width:$mobile){
      font-weight: 900; 
    }
  }

  // .programm-course-spollers__title-text

  &__title-text {
    gap: rem(34);
  }

  // .programm-course-spollers__body

  &__body {
  }

  // .programm-course-spollers__content

  &__content {
    padding-top: rem(40);
    column-gap: rem(32);
  }

  // .programm-course-spollers__list

  &__list {
  }

  // .programm-course-spollers__item

  &__item {
  }

  // .programm-course-spollers__oval-line

  &__oval-line {
    position: relative;
    padding-left: rem(30);
  }

  // .programm-course-spollers__oval-img

  &__oval-img {
    position: absolute;
    top: rem(-10);
    left: rem(-5);
    width: 120%;
    height: 100%;
  }
}

//========================================================================================================================================================

.course-detail-form {
  .learn-new__preview {
    &::after{
      content:'';
      display: none;
    }
  }

  // .course-detail-form__container

  &__container {
    @media (max-width:$tablet){
      flex-direction: column-reverse;
    }
  }
}


