//<FORM>
// Сніппет (HTML):
.form {

  // .form__title

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 40);
    }
  }

  // .form__item

  &__item {
    gap: rem(9);
    @include adaptiveValue("margin-bottom", 32, 24);
    position: relative;

    @media (min-width:em(550)){
      align-items: flex-end;
    }

    @media (max-width: em(550)){
      flex-direction: column;
      width: 100%; 
    }

    // .form__item_mb-40

    &_mb-40 {
      @include adaptiveValue("margin-bottom", 40, 48, 0, 992, 767);
    }

    // .form__item_mobi-mb-64

    &_mobi-mb-64 {
      @include adaptiveValue("margin-bottom", 40, 64, 0, 992, 767);
    }
  }

  .select {
    flex: 1 1 auto;
  
    &._select-open {
      .select__title {
        &::before{
          transition: all 0.4s ease 0s;
          transform: rotate(180deg);
        }
      }
    }
  }

  .select__title {
    background: transparent;
    color: $whiteColor;
    border-bottom: 1px solid #8C8C8C;
    font-size: rem(14);
    font-weight: 900;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: rem(15);

    &::before{
      font-size: rem(14);
      transition: all 0.4s ease 0s;
    }
  }

  .select__value {
    flex: 1 1 auto;
  }

  .select__option {
    font-size: rem(14);
  }

  // .form__label

  &__label {
    color: $whiteColor;
    font-weight: 900;
    line-height: 190%;
  }

  // .form__input

  &__input {
  }

  // .form__select

  &__select._form-error + .select__body {
    .select__title {
      border-bottom: 1px solid red;
    }
  }

  // .form__checkbox

  &__checkbox {
  }

  // .form__btn

  &__btn {
    @media (max-width:$mobile) and (min-width:$mobileSmall){
      align-self: center;
    }
  }

  // .form__error

  &__error {
    position: absolute;
    bottom: rem(-25);
    color: red;
    right: 0;
  }
}

.mini-form {
  @include adaptiveValue("margin-top", 56, 40);
  @include adaptiveValue("margin-bottom", 56, 40);

  // .services-form__container-big

  &__container-big {
  }

  // .services-form__items

  &__items {
    @media (min-width:$tablet){
      flex: 0 1 rem(515); 
    }
  }

  .form {
    column-gap: rem(20);
    border: 1px solid rgba(140, 140, 140, 0.5);
    @include adaptiveValue("padding", 48, 40, 0, 1100, 992);
  
    @media (max-width:$tablet){
      flex-direction: column;
    }

    // .form__title

    &__title {
      max-width: rem(280);
      @media (min-width:$tablet){
        flex: 0 0 rem(280); 
      }
    }

    // .form__btn

    &__btn {
      align-self: flex-start !important;
      @media (min-width:$tablet){
        flex: 0 0 rem(125);   
      }
    }
  }
}
//</FORM>

// <BUTTONS>
// Сніппет (HTML): btn
@import "button";

// <INPUTS>
// Сніппет (HTML): inp
@import "input";

// <CHECK>
// Сніппет (HTML): chk
@import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
@import "radio";

// <SELECT>
// Сніппет (HTML): sel
@import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
@import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";
