//====================================================================================================
.mainscreen {
  background-color: $darkColor;

  // .mainscreen__section

  &__section {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease 0s;

    &:nth-child(1) {
      .mainscreen__image-ibg {
        opacity: 0.5;
      }
    }

    &._small {
      transform: scale(0.5);

      .mainscreen__title {
        height: 0 !important;
        opacity: 0;
      }

      .mainscreen__btn {
        transform: scale(2);

        @media (max-width: em(1250)) {
          transform: translateX(100%) scale(2);
        }
      }
    }

    @media (max-width: $mobile) {
      &:not(:nth-child(2), :nth-child(5)) {
        display: none;
      }
    }
  }

  // .mainscreen__container

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    @media (min-width: $mobileSmall) {
      padding: 0 rem(40);
    }
  }

  // .mainscreen__image-ibg

  &__image-ibg {
    // overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // .mainscreen__title

  &__title {
    transition: all 0.5s ease 0s;
    height: 100%;
    max-width: rem(470);
    &:not(:last-child) {
      margin-bottom: rem(46);
    }
  }

  // .mainscreen__btn

  &__btn {
    transition: all 0.3s ease 0s;
  }
}

//========================================================================================================================================================

.founder {
  background-color: $darkColor;

  @media (min-width: $mobile) {
    padding-bottom: rem(120);
  }
  @media (max-width: $mobile) {
    top: -110%;
    position: sticky;
    @include adaptiveValue("padding-top", 150, 95, 0, 767, 480);
  }

  &._active {
    background: $darkPinkColor;
    padding: rem(88) 0;
    transition: all 0.3s ease 0s;
    .founder__top {
      display: none;
    }
    .founder-slider__pagination {
      display: none;
    }

    .founder-slider__slide {
      &:not(.swiper-slide-active) {
        opacity: 0;
        transition: all 0s ease 0s;
      }
      &::before {
        content: "";
        visibility: hidden;
        opacity: 0;
      }

      &:last-child {
        transition: all 0.5s ease 0.5s;

        .founder-slider__img {
          flex: 0 0 rem(424);

          @media (max-width: $tablet) {
            flex: 0 0 rem(330);
          }
        }
      }
    }

    .founder-slider__slide-body {
      display: flex;
      align-items: center;
      @include adaptiveValue("column-gap", 123, 30, 0, 1920, 1300);
      transform: translateX(0);
      width: 100%;
      height: 100%;
      @media (max-width: $tablet) {
        transform: translateX(5%);
      }
    }

    .founder-slider__content {
      display: block;
      flex: 0 0 rem(500);
      transition: all 0.5s ease 0.5s;

      @media (max-width: $pc) {
        flex: 0 0 rem(400);
      }
    }
  }

  // .founder__container

  &__container {
    position: relative;

    @media (max-width: $mobile) {
      // position: sticky;
      // top: 0;
    }
  }

  // .founder__elipse

  &__elipse {
    left: rem(-560);
    top: rem(0);

    @media (max-width: $mobile) {
      left: rem(-500);
      top: rem(50);
    }
  }

  // .founder__top

  &__top {
    @media (min-width: $mobile) {
      position: absolute;
      top: rem(33);
      left: rem(20);
      z-index: 2;
    }
    @media (max-width: $mobile) {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 80, 42);
      }
    }
  }

  // .founder__title

  &__title {
    max-width: rem(300);
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  // .founder__label

  &__label {
    max-width: rem(180);
    font-family: "Philosopher";
    font-style: italic;
    line-height: 170%;
    color: #aeaeae;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 34);
    }
  }

  // .founder__text

  &__text {
    max-width: rem(440);
  }
}

.founder-slider {
  position: relative;

  @media (max-width: $mobile) {
    margin-right: rem(-20);
    @include adaptiveValue("margin-bottom", 120, 96);
  }
  @media (max-width: $mobileSmall) {
    margin-left: rem(-20);
    padding-right: rem(51);
  }

  // .founder-slider__wrapper

  &__wrapper {
  }

  // .founder-slider__slide

  &__slide {
    position: relative;
    transition: all 0.3s ease 0.3s;
    &:last-child {
      transition: all 0.3s ease 0s;
      z-index: 4;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      transition: all 0.3s ease 0s;
    }
  }

  .swiper-slide-active {
    &::before {
      background: rgba(0, 0, 0, 0);
    }
  }

  // .founder-slider__img

  &__img {
    width: rem(373);
  }

  // .founder-slider__content

  &__content {
    @media (min-width: $mobile) {
      display: none;
    }
    @media (max-width: $mobile) {
      position: sticky;
      top: 0;
      z-index: 4;
      background-color: $darkPinkColor;
      padding: 0 rem(40);
      @include adaptiveValue("padding-top", 150, 95);
      @include adaptiveValue("padding-bottom", 250, 120);
    }
  }

  // .founder-slider__pagination

  &__pagination {
  }
}
//========================================================================================================================================================

.about {
  @include adaptiveValue("padding-top", 120, 95);
  padding-bottom: rem(50);
  position: sticky;
  z-index: 2;
  background: #fff;

  // .about__container

  &__container {
  }

  // .about__title

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 64, 40);
    }
    @media (min-width: $mobileSmall) {
      text-align: center;
    }
  }

  // .about__content

  &__content {
    @include adaptiveValue("column-gap", 32, 16, 0, $containerWidth, 992);
    row-gap: rem(32);
    display: grid;
    grid-template-columns: repeat(4, rem(242));

    @media (max-width: $pc) {
      grid-template-columns: repeat(3, auto);
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 50%);
    }
    @media (max-width: $mobileSmall) {
      grid-template-columns: repeat(1, 100%);
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 74, 61);
    }
  }

  // .about__item

  &__item {
    @media (max-width: $mobileSmall) {
      align-items: center;
    }
  }

  // .about__icon

  &__icon {
    width: rem(60);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 8);
    }
  }

  // .about__text

  &__text {
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  // .about__btn

  &__btn {
  }
}

//========================================================================================================================================================

.we-give {
  overflow: hidden;
  background-color: #fff;
  z-index: 2;
  position: relative;
  @media (min-width: $tablet) {
    padding-bottom: rem(120);
  }

  // .we-give__container

  &__container {
    position: relative;
  }

  // .we-give__elipse

  &__elipse {
    transform: rotate(45deg);
    top: 24vh;
    left: rem(-100);
  }

  // .we-give__title-wrap

  &__title-wrap {
  }

  // .we-give__title

  &__title {
    padding-top: 25vh;
    padding-bottom: 35vh;

    @media (min-width: $pc) {
      // top: -30vh;
    }

    @media (max-width: $tablet) {
      // min-height: 70vh;
      // top: 10vh;
    }
  }

  // .we-give__content

  &__content {
    background-color: #fff;
    position: relative;
    z-index: 2;

    @media (min-width: $mobile) {
      align-items: center;
    }

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  // .we-give__items

  &__items {
  }

  // .we-give__img

  &__img {
    width: rem(511);
    position: relative;
    z-index: 2;
    opacity: 0;
    // transform: translateY(100px);

    @media (min-width: $tablet) {
      flex: 0 0;
      @include adaptiveValue("flex-basis", 511, 430, 0, 992, 767);

      &::after {
        content: "";
        position: absolute;
        width: rem(662);
        height: rem(622);
        background-color: $darkPinkColor;
        right: rem(-462);
        bottom: rem(-120);
      }
    }

    @media (max-width: $mobile) {
      min-width: calc(100% + 25px);
      margin-left: rem(-20);
    }

    img {
      position: relative;
      z-index: 2;

      @media (max-width: $mobile) {
        width: 100%;
      }
    }
  }
}

.items-give {
  gap: rem(50);
  position: relative;
  z-index: 2;
  flex: 0 1 rem(233);
  opacity: 0;
  padding-top: rem(50);

  &:first-child {
    @include adaptiveValue("padding-right", 45, 20, 0, 1920, 992);
  }

  @media (max-width: $tablet) {
    &:first-child {
      display: none;
    }
  }

  // .items-give_big

  &_big {
    background-color: $darkPinkColor;
    margin-right: rem(-20);
    padding-right: rem(20);
    padding-top: rem(20);
    @include adaptiveValue("padding-left", 67, 20, 0, 1920, 992);

    @media (min-width: $tablet) {
      flex: 0 1;
      @include adaptiveValue("flex-basis", 340, 293, 0, 1920, 992);
      align-self: flex-end;
    }

    @media (max-width: $tablet) {
      margin-left: rem(-20);
      padding-left: rem(20);
      min-width: calc(100% + 40px);
      padding-bottom: rem(330);
      columns: 2 175px;
    }

    @media (max-width: $tablet) {
      flex: 1 1 auto;
    }
  }

  // .items-give__item

  &__item {
    break-inside: avoid;
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  // .items-give__num

  &__num {
    &:not(:last-child) {
      margin-bottom: rem(12);
    }
  }

  // .items-give__text

  &__text {
    @media (max-width: $tablet) {
      color: $whiteColor;

      span {
        color: $whiteColor;
      }
    }

    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }
}

//========================================================================================================================================================

.whom {
  position: relative;
  z-index: 2;
  background: $darkColor;

  // .whom__container

  &__container {
    overflow: hidden;
    @include adaptiveValue("padding-top", 145, 95);
    @include adaptiveValue("padding-bottom", 175, 95);
  }

  // .whom__elipse

  &__elipse {
    left: rem(-485);
    bottom: rem(120);
    transform: rotate(0deg) scale(1, -1);
  }
}

.whom-slider {
  overflow: visible !important;
  position: relative;

  &::after{
    content:'';
    position: absolute; 
    z-index: -1;
    top: calc(50% - 20px);
    transform: translateY(-50%);
    right: -25px;
    background-color: $darkPinkColor;

    @media (min-width:$mobile){
      @include adaptiveValue("width", 522, 400, 0, 1100, 767); 
      @include adaptiveValue("height", 567, 434, 0, 1100, 767);
    }
    @media (max-width:$mobile){
      display: none;
      @include adaptiveValue("width", 500, 400, 0, 767, 320); 
      @include adaptiveValue("height", 547, 433, 0, 767, 320); 
    }
  }

  @media (max-width:$mobile){
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 141, 131);
    }
  }

  &__slide {
    opacity: 0 !important; 
    position: relative;
    transition: opacity 0.3s ease 0.3s;
    column-gap: rem(50);

    @media (max-width:$mobile){
      flex-direction: column; 

      &:not(:first-child) {

        .whom-slider__btn {
          display: none;
        }
      }
    }

    .whom-slider__img {
      transform: translate(-55px, 55px);
      z-index: -1 !important;

      @media (max-width:$tablet){
        transform: translate(-45px, 45px);
      }
      @media (max-width:$mobileSmall){
        transform: translate(-36px, 36px); 
      }
    }
  }

  .swiper-slide-visible {
    opacity: 1 !important;
    z-index: 2 !important;

    .whom-slider__img {
      transform: translate(0, 0);
    }

    .whom-slider__content {
      opacity: 1;
    }

    .whom-slider__pagination {
      opacity: 1;
    }
  }

  .swiper-slide-next {
    opacity: 1 !important;
    visibility: visible;
    z-index: 1;

    .whom-slider__img {
      z-index: 2 !important;
    }

    .whom-slider__content {
      z-index: -1 !important;
      visibility: hidden;
    }
  }

  .swiper-slide-prev {
    z-index: 3 !important;
    visibility: hidden;

    .whom-slider__img {
      opacity: 1 !important;
      transform: translateX(140%);
    }
    .whom-slider__content {
      visibility: hidden;
      z-index: -1 !important;
    }
  }

  // ..whom-slider__img

  &__img {
    position: relative;
    transition: all 1s ease 0s;

    ._moving & {
      transform: translateX(100%) !important;
    }

    @media (min-width:$mobile){
      flex: 0 0;
      @include adaptiveValue("flex-basis", 515, 400, 0, 1100, 767); 
    }
  }

  // .whom-slider__content

  &__content {
    flex: 0 1 rem(400);
    opacity: 0;
    transition: all 0.5s ease 0s;
    position: relative;
  }

  // .whom-slider__oval-line

  &__oval-line {
    font-family: 'Philosopher';
    font-style: italic;
    @include adaptiveValue("font-size", 24, 20);
    line-height: 150%;
    color: #AEAEAE;

    .oval-line__img {
      left: rem(-20);
      top: rem(0);
      width: 150%;
    }

    @media (max-width:$mobile){
      display: none; 
    }
  }

  // .content-slide__title

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(40);
    }
  }

  // .content-slide__label

  &__label {
    font-family: 'Alice';
    font-size: rem(24);
    line-height: 150%;
    color: $whiteColor;
    &:not(:last-child) {
      margin-bottom: rem(4);
    }
  }

  // .content-slide__text

  &__text {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  // .whom-slider__pagination

  &__pagination {
    opacity: 0;
    transition: all 0.5s ease 0s;
  }

  // .whom-slider__controls

  &__controls {
    gap: rem(24);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 73, 39);
    }
  }

  // .whom-slider__btn 

  &__btn {
    pointer-events: auto;

    @media (max-width:$mobile) and (min-width:$mobileSmall){
      align-self: center;
    }
  }
}

//========================================================================================================================================================

.you-get {
  position: relative;
  z-index: 2;
  background-color: #fff;
  @include adaptiveValue("padding-top", 120, 95);
  @include adaptiveValue("padding-bottom", 120, 95);

  // .you-get__container

  &__container {
  }

  // .you-get__elipse

  &__elipse {
  }

  // .you-get__title

  &__title {
    max-width: rem(564);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 64, 40);
    }
  }
}

.you-get-slider {
  overflow: hidden;
  // .you-get-slider__wrapper

  &__wrapper {
    &:not(:last-child) {
      margin-bottom: rem(48);
    
      @media (max-width:$mobileSmall){
        margin-bottom: rem(59);
      }
    }
  }

  // .you-get-slider__slide

  &__slide {
  }

  // .you-get-slider__icon

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(20);
    height: rem(56);
    width: rem(56);
    padding: rem(15);
    color: #7A0076;
    background-color: rgba(210, 40, 203, 0.15);
    border-radius: 50%;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 16);
    }
  }

  // .you-get-slider__title

  &__title {
    font-weight: 900;
    @include adaptiveValue("font-size", 16, 14);
    line-height: 190%;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 16, 8);
    }
  }

  // .you-get-slider__text

  &__text {
  }

  // .you-get-slider__controls

  &__controls {
    gap: rem(24);
  }

  // .you-get-slider__pagination

  &__pagination {
  }

  .slider-button {
    transition: all 0.3s ease 0s;
    @media (min-width:$mobile){
      color: $greenColor; 
    }

    &.swiper-button-disabled {
      color: #8C8C8C;
    }
  }

  .num {
    @media (max-width:$mobileSmall){
      color: #7A0076; 
    }
  }
}


//========================================================================================================================================================

.ready {
  position: relative;
  z-index: 2;
  background-color: $darkColor;
  // .ready__container

  &__container {
  }

  // .ready__title-wrap 

  &__title-wrap {
    position: relative;
    z-index: 2;
    @include adaptiveValue("padding-top", 242, 95);
    @include adaptiveValue("padding-bottom", 242, 95);
    @media (max-width:$mobile){
      @include adaptiveValue("padding-bottom", 588, 490); 
    }
  }

  // .ready__title

  &__title {
    line-height: 113%;
    opacity: 0;
    @media (min-width:em(1500)){
      transition: all 1s ease 0.3s;
      transform: translateY(50px);

      &._watcher-view {
        opacity: 1;
        transform: translateY(0);
      }   
    }
    @media (max-width:$tablet){
      transition: all 1s ease 0.3s;
      transform: translateY(50px);

      &._watcher-view {
        opacity: 1;
        transform: translateY(0);
      }   
    }
  }

  // .ready__image-wrap

  &__image-wrap {
    transition: all 0.5s ease 0s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // .ready__image-ibg

  &__image-ibg {
    width: 100%;
    height: 100%;
    // position: sticky;
    // top: 0;
  }
}

//========================================================================================================================================================

.coursers {
  position: relative;
  z-index: 2;
  background-color: $darkColor;
  @include adaptiveValue("padding-top", 80, 95);
  @include adaptiveValue("padding-bottom", 75, 95);

  // .coursers__container

  &__container {
  }

  // .coursers__title

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 47, 23);
    }
  }

  // .coursers__content

  &__content {
    display: grid;
    grid-template-columns: repeat(3, calc((33.333% - 20px)));
    gap: rem(32);
    
    @media (min-width:$tablet){
      row-gap: rem(80);
    }

    @media (max-width:$tablet){
      grid-template-columns: repeat(2, calc(50% - 20px));
    }
    @media (max-width: em(660)){
      grid-template-columns: 100%;
    }

    @media (max-width:$mobile){
      gap: rem(48); 
    }
  }

  // .coursers__item

  &__item {
  }

  // .coursers__oval-line

  &__oval-line {
    position: absolute;
    z-index: 2;
    top: rem(15);
    left: rem(15);
    font-family: 'Alice';
    font-size: rem(14);
    line-height: 110%;
    color: $whiteColor;
    
    span {
      display: block;
      max-width: rem(140);
    }

    .coursers-oval__img {
      position: absolute;
      top: rem(-25);
      left: rem(-58);
      width: rem(200);
      height: rem(85);
    }
  }

  // .coursers__image-ibg

  &__image-ibg {
    padding-bottom: rem(333);
    margin-bottom: rem(12);
    position: relative;
  

    @media (max-width:$mobileSmall){
      padding-bottom: rem(440); 
    }
  }

  // .coursers__btn

  &__btn {
    @media (min-width:$tablet){
      white-space: nowrap; 
    }
    @media (max-width:$tablet){
      max-width: rem(140);
      text-align: center;
      justify-self: center;
    }
  }
}

.item-coursers {
  position: relative;
  // .item-coursers__title

  &__title {
    line-height: 190%;
    font-weight: 900;
    color: $whiteColor;
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  // .item-coursers__text

  &__text {
    flex: 1 1 auto;
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  // .item-coursers__info

  &__info {
  }
}

.info-item-coursers {
  gap: rem(20);
  // .info-item-coursers__content

  &__content {
    flex: 0 0 rem(142);
  }

  // .info-item-coursers__num

  &__num {
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  // .info-item-coursers__label

  &__label {
    font-weight: 900;
    font-size: rem(16);
    line-height: 150%;
    color: #7A0076;
  }

  // .info-item-coursers__btn

  &__btn {
    
  }
}

.coursers-img-slider {
  position: relative;
  overflow: hidden;
  // .coursers-img-slider__wrapper

  &__wrapper {
  }

  // .coursers-img-slider__slide

  &__slide {
  }

  // .coursers-img-slider__pagination

  &__pagination {
  }
}

//========================================================================================================================================================

.histories {
  background-color: #fff;
  @include adaptiveValue("padding-top", 131, 156);
  @include adaptiveValue("padding-bottom", 120, 150);
  position: relative;
  z-index: 2;

  // .histories__container

  &__container {
  }

  // .histories__elipse

  &__elipse {
  }

  // .histories__title

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(55);
    }
  }

  // .histories__oval-line

  &__oval-line {
    position: relative;
  }

  // .histories__oval-img

  &__oval-img {
    position: absolute;
    top: -5px;
    left: rem(-25);
    width: calc(100% + 30px);
    height: 100%;
  }
}

.histories-slider {
  margin-top: rem(-25);

  @media (min-width:$mobile){
    overflow: hidden; 
  }

  @media (max-width:$mobile){
    margin-left: rem(25); 
  }

  @media (min-width:em(500)){
    margin-right: rem(-25);
  }

  // .histories-slider__wrapper

  &__wrapper {
    transform: translate3d(0px, 0px, 0px) !important;
  }

  // .histories-slider__slide

  &__slide {
    opacity: 0 !important;
    z-index: -1 !important;
    gap: rem(32);
    position: relative;
    left: 0;
    padding: rem(25) rem(25) 0 0; 

    @media (max-width:$tablet){
      flex-direction: column-reverse;
    }
  }

  .swiper-slide-active {
    z-index: 2 !important;
		opacity: 1 !important;
	}

  // .histories-slider__content

  &__content {
    @media (min-width:$mobile){
      flex: 0 0;
      @include adaptiveValue("flex-basis", 456, 350, 0, 1060, 992); 
    }
  }

  // .histories-slider__top

  &__top {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 80, 90, 0, 1100, 992);
    }
  }

  // .histories-slider__controls

  &__controls {
    gap: rem(24);
    &:not(:last-child) {
      margin-bottom: rem(35);
    }
  }

  // .histories-slider__pagination

  &__pagination {
  }

  // .histories-slider__label

  &__label {
    font-family: 'Philosopher';
    font-style: italic;
    font-size: rem(16);
    line-height: 150%;
    color: #8C8C8C;
    &:not(:last-child) {
      margin-bottom: rem(4);
    }
  }

  // .histories-slider__title

  &__title {
    font-family: 'Alice';
    font-size: rem(24);
    line-height: 110%;
    color: #7A0076;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 16);
    }
  }

  // .histories-slider__text

  &__text {
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  // .histories-slider__info

  &__info {
    @include adaptiveValue("gap", 38, 24);
    @media (max-width:$mobileSmall){
      flex-direction: column; 
    }
  }

  // .histories-slider__info-title

  &__info-title {
    @include adaptiveValue("font-size", 24, 32);
    line-height: 172%;
    color: #8F0057;
    @media (min-width:$tablet){
      flex: 0 1 rem(286); 
    }
  }

  // .histories-slider__btn

  &__btn {
    flex: 0 0 rem(125);
    span {
      max-width: rem(60);
    }
  }

  // .histories-slider__images

  &__images {
    position: relative;

    @media (min-width:$tablet){
      flex: 0 0 515;
    }
    @media (max-width:$tablet){
      align-self: center;
    }

    &::after{
      content:'';
      position: absolute; 
      top: rem(-25);
      right: -25px;
      background-color: $darkPinkColor;

      @include adaptiveValue("width", 515, 400); 
      @include adaptiveValue("height", 549, 434);

      @media (max-width: em(500)){
        display: none; 
      }

    }
  }
}

.histories-img-slider {
  max-width: rem(515);
  position: relative;
  z-index: 2;
  // .histories-img-slider__wrapper

  &__wrapper {
  }

  // .histories-img-slider__slide

  &__slide {
  }

  // .histories-img-slider__img

  &__img {
  }
}


.histories-img-slider-main {
  overflow: hidden;
  position: relative;
  display: block;
  position: relative;
  z-index: 2;
  width: calc(100vw);

  @media (min-width:em(500)){
    max-width: rem(515);
  }


  &:not(:last-child) {
    margin-bottom: rem(32);
  }

  &__img {
    img {
      width: 100%;
      @include adaptiveValue("height", 549, 470);   
    }
  }

  // .histories-img-slider-main__pagination

  &__pagination {
  }
}

.histories-img-slider {
  // max-width: rem(515);
  width: calc(100vw - 20px);
  
  @media (min-width:$mobile){
    width: 100vw;   
  }

  &__slide {
    cursor: pointer;
    transition: all 0.4s ease 0s;
    border: 3px solid transparent;

    &:first-child {
      display: none;
    }
  }
  .swiper-slide-thumb-active {
    border: 3px solid $greenColor;
  }
}

//========================================================================================================================================================

.sociable-section {
  background-color: #fff;
  position: relative;
  z-index: 2;
  padding-bottom: rem(120);
  // .sociable-section__container

  &__container {
  }

  // .sociable-section__top

  &__top {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 37);
    }
  }

  // .sociable-section__title

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 40);
    }
  }

  // .sociable-section__link

  &__link {
    gap: rem(13);
    transition: all 0.4s ease 0s;

    @media (any-hover: hover){
      &:hover{
        color: $darkPinkColor;
      }
    }

    &::before{
      color: $darkPinkColor;
      font-size: rem(30);
    }

    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  // .sociable-section__content

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    @media (max-width: em(650)){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(450)){
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .sociable-section__wrap 

  &__wrap {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
    position: relative;
    z-index: 2;
    min-height: 100%;
    transform: scale(0);
    border-radius: 30%;
    transition: all 0.4s ease-in 0s;
  }

  // .sociable-section__image-ibg

  &__image-ibg {
    min-height: rem(370);

    @media (min-width:em(450)){
      @include adaptiveValue("min-height", 354, 220, 0, 1060, 650);
    }
    
    @media (any-hover: hover){
      &:hover{
        .sociable-section__wrap  {
          transform: scale(1);
          border-radius: 0;
        }
      }
    }
  }

  // .v__img-link

  &__img-link {
    min-height: 100%;
    max-width: rem(210);
    padding: 0 rem(15);
    gap: rem(13);

    &::before{
      color: $greenColor;
    }
  }
}

.sociable-section-link {
  font-family: 'Alice';
  line-height: 150%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  
  &_w {
    color: $whiteColor;
  }
}

//========================================================================================================================================================

.learn-new {
  @include adaptiveValue("padding-top", 120, 80);
  @include adaptiveValue("padding-bottom", 120, 93);
  position: relative;
  z-index: 2;
  background-color: $darkColor;

  // .learn-new__container

  &__container {
    @include adaptiveValue("gap", 40, 30);
    position: relative;

    @media (max-width:$tablet){
      flex-direction: column;
      align-items: center;
    }
  }

  // .learn-new__elipse

  &__elipse {
    bottom: rem(139);
    left: rem(100);
    transform: rotate(45deg);

    @media (max-width:$mobile){
      left: rem(-450); 
    }
  }

  // .learn-new__preview

  &__preview {
    position: relative;
    @include adaptiveValue("padding-bottom", 127, 20);

    &::after{
      content:'';
      position: absolute;
      background-color: $darkPinkColor;
      @include adaptiveValue("width", 584, 480);
      @include adaptiveValue("height", 621, 563);
      bottom: 0;
      @include adaptiveValue("left", -128, -20);
    }

    @media (min-width:$tablet){
      flex: 0 0 rem(424);   
    }
  }

  // .learn-new__preview-content

  &__preview-content {
    position: relative;
    z-index: 2;
  }

  // .learn-new__img

  &__img {
    &:not(:last-child) {
      margin-bottom: rem(32);
    }
  }

  // .learn-new__btn

  &__btn {
  }

  // .learn-new__form

  &__form {
    @media (min-width:$tablet){
      flex: 0 1 rem(555);
    }
  }
}







//====================================================================================================
